.header{
   
    height: 200px;
    background: #8E2DE2; 
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2); 
    

}
.avatar{
    background-color: black;
    height: fit-content;
}
.button{

}
.header-box{
    background-color: black;
    border-color: black;
    width: 200px;
    height: 50px;
    margin-top: 140px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 650px;
    font-size: larger;
    color: white;
    text-align: center;
    border-width: 2;
}